{{- $path := .Get "file" -}}
{{- $fit := .Get "fit" -}}
{{- $alt := .Get "alt" -}}
{{- if not $alt -}}
  {{- $alt = "" -}}
{{- end -}}
{{- if not $fit -}}
  {{- $fit = "600x600 q90 Lanczos Smart" -}}
{{- end -}}
{{- if $path -}}
  {{- $resource := resources.Get $path -}}
  {{- if $resource -}}
    {{- $resizedImage := $resource.Fit $fit -}}
    <a class="responsive-img" href="{{- $resource.RelPermalink -}}" title="{{ $alt }}">
      <img loading="lazy" src="{{- $resizedImage.RelPermalink -}}" alt="{{- $alt -}}" />
    </a>
  {{- else -}}
    <a class="responsive-img" href="{{- $path -}}" title="{{ $alt }}">
      <img loading="lazy" src="{{- $path -}}" alt="{{- $alt -}}" />
    </a>
  {{- end -}}
{{- end -}}
