{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    <article role="main">
      {{- .Content -}}
    </article>
    <ul class="about-items">
      {{- range .Pages.ByDate -}}
        <li>
          {{- $params := dict
            "Title"         .Title
            "RelPermalink"  .RelPermalink
            "Excerpt"       (cond (isset .Params "excerpt") .Params.Excerpt "")
          -}}
          {{- partial "components/about-item.html" $params -}}
        </li>
      {{- end -}}
    </ul>
  </div>
{{- end -}}
