html {
  scrollbar-width: thin;
  height: 100%;
  scroll-padding-top: #{$navbar-height + 2 * $spacing-base}; /* To ensure scroll to anchors scroll to the right Y */
}

body {
  background-color: $color-background-page;
  color: $color-text;
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  scroll-padding-top: #{$navbar-height + 2 * $spacing-base};
}

article {
  max-width: 100%;

  h2:first-of-type {
    margin-top: 0;
  }
}

#main {
  flex: 1 0 auto;
}

.container {
  max-width: $page-max-width;
  margin: auto;
  padding: 0 $content-padding;
  width: 100%;

  @media (max-width: $breakpoint-phone-portrait) {
    padding: 0 $content-padding / 2;
  }
}

.narrow-container {
  max-width: $page-max-width;
  margin: auto;
  padding: 0 $content-padding-narrow;
  width: 100%;
}

.content-container {
  background-color: $color-background-content;
}

.single-header-container {
  padding: 0;

  @media (max-width: $breakpoint-phone-portrait) {
    margin-top: $navbar-height;
  }
}

.menuOpen,
.modalOpen {
  overflow-y: hidden;
  height: 100vh;
}

.content {
  min-height: calc(100vh - 600px);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $spacing-base * 2.5;
  padding-bottom: $spacing-base * 5;

  article {
    margin-bottom: $spacing-base * 2.5;
  }

  &.content-home {
    padding-top: $spacing-base * 5;
  }

  // @media (max-width: $breakpoint-phone-portrait) {
  //   padding-top: $spacing-base * 6;
  // }
}

.container-bg {
  background-color: $color-background-content;
}

.highlight pre {
  border-radius: $border-radius;
  padding: $spacing-base;
  background: rgba($color: #000000, $alpha: 0.6) !important;
  -moz-tab-size: 2 !important;
  -o-tab-size: 2 !important;
  tab-size: 2 !important;
  color: $color-text !important;
  font-family: $font-family-code !important;
  font-size: $font-size-code;
  text-wrap: wrap;
}
.highlight pre code {
  font-family: inherit;
}

.article-grid {
  display: grid;
  gap: $spacing-base * 2;
  grid-template-columns: calc(100% - 18em) 16em;

  @media (max-width: $breakpoint-tablet-portrait) {
    grid-template-columns: 1fr;
  }
}

.donation {
  margin-top: $spacing-base * 2.5;
  display: flex;
  flex-direction: column;
  gap: $spacing-base * 2;
  align-items: center;
}

.email-obfuscator {
  margin-top: $spacing-base * 2;
}

aside {
  display: block;
  position: sticky;
  top: $aside-top;
  max-height: calc(100vh - #{$aside-top + $navbar-height});
  overflow-y: auto;
  scrollbar-width: thin;
}
