.developer-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: $spacing-base * 2;
  align-items: center;
  justify-content: center;
}

.developer-list-item {
  margin: 0;
  padding: 0;
}

$developer-thumbnail-h: 200px;
$developer-thumbnail-w: 700px;
$developer-thumbnail-ratio: $developer-thumbnail-w / $developer-thumbnail-h;

$developer-item-w: #{(1000px - 4 * $spacing-base) / 3};
$developer-item-h: #{$developer-item-w / $developer-thumbnail-ratio};

.developer-item {
  margin: 0;
  padding: 0;
  border-radius: $border-radius;
  overflow: hidden;
  display: block;
  min-width: $developer-item-w;
  max-width: $developer-item-w;
  min-height: $developer-item-h;
  max-height: $developer-item-h;
  box-shadow: $elevation-1;
  outline-offset: 0 !important;
  position: relative;

  &:hover {
    scale: 1.025;
    -webkit-transform: scale(1.025);
    box-shadow: $elevation-2;
  }
  &:active {
    scale: 1.05;
    -webkit-transform: scale(1.05);
    box-shadow: $elevation-3;
  }

  .developer-item-image {
    display: block;
    margin: 0;
    width: 100%;
    object-fit: cover;
    //height: 100%;
    object-position: center;
  }

  .developer-item-title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-size-title-big;
    font-weight: normal;
    color: $color-text-caption;
    font-family: $font-family-title;
  }
}

$header-image-width: 300px;

.developer-header {
  display: flex;
  flex-direction: row;
  gap: $spacing-base * 2;

  img {
    width: $header-image-width;
    height: #{$header-image-width / $developer-thumbnail-ratio};
    border-radius: $border-radius;
  }

  .developer-description {
    margin-bottom: $spacing-base;
  }

  @media (max-width: $breakpoint-tablet-landscape) {
    flex-direction: column;
    align-items: center;
  }
}
