/* Focus */
:focus {
  outline: none;
  border-radius: $outline-radius;

  &:not(:focus-visible) {
    outline: none;
  }
  &:focus-visible {
    outline: $outline-width solid $color-primary-lighter;
    outline-offset: $outline-offset;
  }
}
:focus-visible {
  outline: $outline-width solid $color-primary-lighter;
  outline-offset: $outline-offset;
}

/* Selection */
::-moz-selection,
::selection {
  color: $color-primary-foreground;
  background-color: $color-primary;
}
