@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Inter-Regular-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-Bold-subset.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu Titling';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/UbuntuTitling-Bold.woff2') format('woff2');
}
