footer {
  width: 100%;
  max-width: 100%;
  background-color: $color-background-footer;
  color: $color-text-caption;
  font-size: $font-size-footer;

  a {
    color: $color-text;
    font-size: $font-size-footer;

    svg {
      fill: currentColor !important;
    }

    &:hover {
      color: $color-primary-hover;
      svg {
        fill: $color-primary-hover !important;
      }
    }
    &:active {
      color: $color-primary-pressed;
      svg {
        fill: $color-primary-pressed !important;
      }
    }

    .external-link-symbol {
      pointer-events: none;
      -webkit-user-select: none; /* Safari */
      user-select: none;
      margin-left: 0.5ch;
    }
  }

  .container {
    margin: auto;
    width: 100%;
    padding-top: $spacing-base * 1.5;
    padding-bottom: $spacing-base * 1.5;
  }

  .footer-columns {
    margin: 0;
    margin-bottom: $spacing-base;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: $spacing-base * 2;
    justify-content: space-between;

    @media (max-width: $breakpoint-phone-portrait) {
      flex-direction: column;
    }
  }

  .footer-column {
    vertical-align: top;
    justify-content: center;

    @media (max-width: $breakpoint-tablet-landscape) {
      width: calc(33.333% - #{$spacing-base});
    }

    @media (max-width: $breakpoint-phone-portrait) {
      min-width: 100%;
      max-width: 100%;
      text-align: center;
    }

    .footer-column-title {
      color: $color-text-caption-lighter;
      font-size: $font-size;
      font-weight: bold;
      margin-bottom: $spacing-base / 2;
      line-height: normal;
    }

    .footer-column-text {
      font-weight: normal;
      line-height: normal;
      color: $color-text-caption;
      margin-bottom: $spacing-base / 2;
    }

    ul {
      font-size: $font-size-footer;
      list-style-type: none;
      margin: 0;

      li {
        margin: 0;
        margin-bottom: $spacing-base / 4;
      }
    }

    .social-networks-icons {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $spacing-base / 2;
      margin-bottom: $spacing-base / 2;

      @media (max-width: $breakpoint-phone-portrait) {
        justify-content: center;
      }

      a.social-networks-icon {
        width: $icon-height * 1.5;
        height: $icon-height * 1.5;
        display: block;

        .icon svg {
          width: $icon-height * 1.5;
          height: $icon-height * 1.5;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;

    .footer-bottom-text {
      margin-bottom: 0;
      line-height: unset;
    }

    .footer-engine-information {
      display: flex;
      flex-direction: row;
      gap: $spacing-base / 4;
      align-items: center;
      justify-content: center;
      line-height: 1.25em;
      margin-bottom: $spacing-base;

      @media (max-width: $breakpoint-phone-portrait) {
        flex-direction: column;

        .footer-engine-information-bullet {
          display: none;
        }
      }

      .footer-engine-information-bullet {
        -webkit-user-select: none; /* Safari */
        user-select: none;
      }
    }

    .footer-bottom-logos {
      display: flex;
      flex-direction: row;
      gap: $spacing-base;
      justify-content: center;
      margin-top: $spacing-base;
      margin-bottom: $spacing-base;
      flex-wrap: wrap;

      a,
      .footer-bottom-logo {
        height: $icon-height * 2;
        width: auto;
      }
    }

    .footer-build-time {
      font-size: $font-size-caption-smaller;
      color: $color-text-caption-darker;

      a {
        font-size: $font-size-caption-smaller;
        color: $color-text-caption;

        &:hover {
          color: $color-primary-hover;
        }
        &:active {
          color: $color-primary-pressed;
        }
      }
    }
  }
}
