table.game-info-table {
  display: table;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  font-size: $font-size;
  background-color: $color-secondary-hover;
  margin: 0;

  a {
    color: $color-text;
    font-weight: normal;

    &:hover {
      color: $color-link-hover;
    }
    &:active {
      color: $color-link-active;
    }

    .external-link-symbol {
      pointer-events: none;
      -webkit-user-select: none; /* Safari */
      user-select: none;
      margin-left: $spacing-base / 4;
    }
  }

  tbody,
  tr,
  td {
    text-align: left;
    border: none;
  }

  td {
    padding: #{$spacing-base / 2} 0;
  }

  tr {
    display: block;
    width: 100%;
    padding-right: $spacing-base * 4;
    padding-left: $spacing-base * 2;
    background-color: none;
    @media (max-width: $breakpoint-phone-portrait) {
      padding-right: $spacing-base * 2;
    }
  }

  tr td:first-of-type {
    font-weight: bold;
    min-width: $spacing-base * 10;
    overflow-x: hidden;
    word-wrap: break-word;
    color: $color-text-caption;
  }

  tr:nth-child(2n) {
    background-color: $color-secondary-hover;
  }

  tr:nth-child(odd) {
    background-color: $color-secondary;
  }

  .controls-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: $spacing-base / 2;
    margin: 0;
    padding: 0;

    .controls-list-item {
      margin: 0;
      padding: 0;
      height: $icon-height * 1.5;

      .icon {
        width: $icon-height * 1.5;
        height: $icon-height * 1.5;

        svg,
        svg path {
          fill: currentColor;
        }
      }
    }
  }

  .language-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: $spacing-base / 2;
    margin: 0;
    padding: 0;

    .controls-list-item {
      margin: 0;
      padding: 0;
      height: $icon-height * 1.5;

      .flag {
        width: $icon-height * 1.5;
        height: $icon-height * 1.5;
      }
    }
  }

  .players-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-base / 4;
    color: $color-text;

    .icon {
      width: $icon-height;
      height: $icon-height;

      svg,
      svg path {
        fill: currentColor;
      }
    }
  }

  .players-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .game-age {
    display: flex;
    flex-direction: row;
    gap: $spacing-base / 2;
    align-items: center;
  }
}
