.game-thumbnail-shortcode {
  display: flex;
  flex-direction: row;
  gap: $spacing-base * 1.5;
  width: 100%;
  background: $color-secondary;
  border: 1px solid $color-secondary-light;
  border-radius: $border-radius;
  padding: $spacing-base;
  margin-top: $spacing-base * 1.5;
  margin-bottom: $spacing-base * 2;
  box-shadow: $elevation-1;
  overflow: hidden;
  color: $color-text;
  font-weight: normal;

  .game-thumbnail-shortcode-image {
    display: block;
    margin: 0;
    max-width: 300px;
    object-fit: cover;
    align-self: flex-start;
    box-shadow: $elevation-1;
    border-radius: $border-radius;
  }

  &:hover {
    background: $color-secondary-hover;
    border-color: $color-secondary-lighter;
    scale: 1.025;
    color: $color-text;
    box-shadow: $elevation-2;

    .game-thumbnail-shortcode-button {
      color: $color-link-hover;
    }
  }

  &:active {
    background: $color-secondary-pressed;
    border-color: $color-secondary-lightest;
    scale: 1.035;
    color: $color-text;

    .game-thumbnail-shortcode-button {
      color: $color-link-active;
    }
  }

  @media (max-width: $breakpoint-tablet-landscape) {
    .game-thumbnail-shortcode-image {
      max-width: 200px;
    }
  }

  @media (max-width: $breakpoint-tablet-portrait) {
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    .game-thumbnail-shortcode-image {
      align-self: center;
      max-width: 100%;
    }
  }

  .game-thumbnail-shortcode-metadata {
    display: flex;
    flex-direction: column;
    gap: $spacing-base / 4;

    .game-thumbnail-shortcode-metadata-title {
      font-family: $font-family-title;
      color: $color-text-title;
      font-size: $font-size-title-medium;
    }

    .game-thumbnail-shortcode-metadata-info {
      display: flex;
      flex-direction: row;
      gap: $spacing-base / 4;
      color: $color-text-caption;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: $breakpoint-tablet-landscape) {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;

        .game-thumbnail-shortcode-metadata-bullet {
          display: none;
        }
      }
    }

    .game-thumbnail-shortcode-metadata-bullet {
      -webkit-user-select: none; /* Safari */
      user-select: none;
    }

    .game-thumbnail-shortcode-metadata-excerpt {
      margin-bottom: $spacing-base / 2;
    }

    .game-thumbnail-shortcode-button {
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $icon-spacing * 2;
      max-width: fit-content;
      align-self: flex-end;
      transition: color $animation-duration ease;
      margin-top: auto;
      .icon {
        width: $icon-height * 1.25;
        height: $icon-height * 1.25;
      }
    }
  }
}
