.home-wrapper {
  background-image: url('../img/homepage-cover.webp');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  min-width: 100%;
  max-width: 100%;
  background-color: $color-background-home;

  @media (max-width: $breakpoint-desktop-small) {
    background-size: 125vw auto;
  }

  @media (max-width: $breakpoint-phone-portrait) {
    background-size: auto 100vh;

    @media (max-height: 400px) {
      background-size: 100vw auto;
    }
  }
}

.home {
  .home-section {
    padding-top: $spacing-base * 2.5;
    padding-bottom: $spacing-base * 2.5;
    min-width: 100%;
    text-align: center;

    &.home-discover {
      padding-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: $spacing-base;
  }

  .home-tagline {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }

  .home-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: $spacing-base * 2.5;
  }

  .home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: $spacing-base * 6;
    gap: $spacing-base * 2;

    @media (max-width: $breakpoint-tablet-portrait) {
      width: 90%;
      margin-bottom: $spacing-base * 4;
    }

    @media (max-width: $breakpoint-phone-portrait) {
      width: 100%;
    }

    @media (max-height: #{$spacing-base * 4 + $navbar-height + 1080px}) {
      min-height: calc(100vh - #{$navbar-height});
    }

    .home-image {
      max-width: 100%;
      filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.25));
      max-height: 30vh;
    }

    .home-features {
      width: calc(100% - #{$spacing-base * 4});
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: $spacing-base * 2;
      margin: #{$spacing-base * 2} 0;

      @media (max-width: $breakpoint-tablet-portrait) {
        width: 100%;
        margin: 0;
        gap: $spacing-base;
      }

      .home-feature {
        display: block;
        max-width: 30%;

        .home-feature-img {
          height: $icon-height * 6;
          width: $icon-height * 6;
          margin-bottom: $spacing-base;
        }

        .home-feature-text {
          font-size: $font-size-title-small;
        }
      }
    }

    .home-cta-buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: $spacing-base * 2;

      .home-cta-button {
        width: calc(50% - #{$spacing-base});
        min-width: calc(50% - #{$spacing-base});
      }

      @media (max-width: $breakpoint-phone-portrait) {
        flex-direction: column;
        align-items: center;

        .home-cta-button {
          width: 100%;
        }
      }
    }

    .home-engine-information {
      color: $color-text-caption;
      font-size: $font-size;

      .home-engine-information-bullet {
        margin: 0 #{$spacing-base / 4};
        pointer-events: none;
        -webkit-user-select: none; /* Safari */
        user-select: none;
      }

      @media (max-width: $breakpoint-phone-portrait-medium) {
        display: flex;
        flex-direction: column;

        .home-engine-information-bullet {
          display: none;
        }
      }
    }

    .home-platforms-logos {
      display: flex;
      flex-direction: row;
      gap: $spacing-base;
      justify-content: center;

      .home-platforms-logo {
        .icon {
          width: $icon-height * 2;
          height: $icon-height * 2;
        }
      }
    }
  }

  .home-games {
    background-color: $color-background-home-section;
  }

  .home-section-icon {
    width: $icon-height * 4;
    height: $icon-height * 4;
    margin-bottom: $spacing-base;
  }
}
