.menu {
  background-color: $color-secondary-light;
  padding: #{$spacing-base / 2} 0;
  border-radius: $border-radius;
  box-shadow: $elevation-4;
  position: absolute;
  z-index: 999;
  display: none;

  ul.menu-items {
    min-width: $spacing-base * 10;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
    border: none;
    margin: 0;
    padding: 0;

    li.menu-item {
      text-align: left;
      width: 100%;
      margin: 0;
      align-items: flex-start;
      justify-content: flex-start;

      a.menu-item-link {
        color: $color-text-emphase;
        text-align: left;
        padding: #{$spacing-base / 4} $spacing-base;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: $spacing-base / 2;
        height: 2.25rem;
        font-weight: normal;
        outline-offset: #{-$outline-offset};

        &.current {
          border: none;
          background-color: $color-secondary;
        }

        &:hover {
          background-color: $color-primary;
          border: none;
          color: $color-text-emphase;
        }

        &:active {
          background-color: $color-primary-pressed;
          color: $color-text-emphase;
        }
      }
    }
  }
}

.translation-item {
  border: none;

  &.current {
    border: none;
  }

  &:hover {
    border: none;
  }
}
