$popupWidth: $spacing-base * 30;

#searchPopup {
  position: fixed;
  top: $spacing-base * 4;
  //right: calc(50vw - 505px); /* Align to the right of the searchbox */
  z-index: 9999;
  padding: 0;
  background-color: $color-background-popup;
  backdrop-filter: $blur-2;
  border: $textfield-border-width solid $color-secondary-hover;
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: $elevation-4;
  width: $popupWidth;
  max-width: $popupWidth;
  min-width: $popupWidth;
  font-size: $font-size;

  transition: opacity $animation-duration ease-in-out, transform $animation-duration ease;
  display: none;
  transform: translate(0, -20px);
  opacity: 0;

  &.opening {
    display: block;
  }

  &.opened {
    display: block;
    transform: translate(0, 0);
    opacity: 1;
  }

  &.closing {
    display: block;
    transform: translate(0, -10px);
    opacity: 0;
  }

  #searchNoResults {
    display: none;
    padding: $spacing-base;
  }

  #searchLoadingIndex {
    display: flex;
    flex-direction: column;
    gap: $spacing-base;
    align-items: center;
    padding: $spacing-base * 2;
  }

  #searchResults {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    height: auto;
    min-height: $spacing-base * 4;
    max-height: 80vh;

    li.search-result {
      margin: 0;

      a.search-result-link {
        display: block;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        border: $textfield-border-width solid $color-secondary-lighter;
        border-left: none;
        border-right: none;
        margin: 0;
        margin-top: -$textfield-border-width;
        padding: $spacing-base;
        transition-duration: $animation-duration-short;
        color: $color-text;
        font-weight: normal;
        outline-offset: -$outline-offset;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: $color-secondary-hover;

          .search-result-title {
            color: $color-link-hover;
          }
          .search-result-excerpt {
            color: $color-text;
          }
          .search-result-url {
            color: $color-text-caption;
          }
        }

        &:active,
        &:focus {
          background-color: $color-secondary-pressed;
        }

        .search-result-title {
          font-size: $font-size-title-small;
          font-weight: $font-weight-bold;
          margin-bottom: $spacing-base / 3;
        }

        .search-result-excerpt {
          color: $color-text-caption;
          margin-bottom: $spacing-base / 4;
        }

        .search-result-url {
          color: $color-text-caption-darker;
          font-size: $font-size-caption;
        }
      }

      &.current {
        a.search-result-link {
          background-color: $color-secondary-hover;

          .search-result-title {
            color: $color-link-hover;
          }
          .search-result-excerpt {
            color: $color-text;
          }
          .search-result-url {
            color: $color-text-caption;
          }
        }
      }
    }
  }
}

.list-toolbar {
  .searchbox-container {
    margin: auto 0;
    display: block;
    min-height: fit-content;
    height: fit-content;
    max-height: fit-content;
    position: relative;
    width: $spacing-base * 20;
    max-width: 100%;

    .icon {
      width: $icon-height;
      height: $icon-height;
      display: block;
      position: absolute;
      left: 0.75 * $spacing-base;
      top: calc(50% - #{$spacing-base / 2});
      pointer-events: none;

      svg,
      svg * {
        fill: $color-text-caption;
        transition: fill $animation-duration;
      }
    }

    &:hover,
    &:focus-within {
      .icon {
        svg,
        svg * {
          fill: $color-text;
        }
      }
    }

    input.searchbox {
      font-size: $font-size;
      margin: auto 0;
      border-radius: $border-radius-buttons;
      padding: #{$spacing-base / 2} $spacing-base #{$spacing-base / 2} #{$spacing-base * 2};
      height: fit-content;
      border: $textfield-border-width solid $color-secondary-lighter;
      background-color: $color-secondary-hover;
      transition: border-color $animation-duration, outline $animation-duration, background-color $animation-duration;
      flex-grow: 1;
      width: 100%;

      &:hover {
        border-color: $color-secondary-lightest;
      }

      &:focus-visible {
        outline-offset: -$textfield-border-width !important;
      }
      &:focus {
        background-color: $color-secondary-pressed;
      }
    }
  }
}

.searchpage-list-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: $spacing-base * 2;
}

#searchpage-noresults {
  display: none;
  text-align: center;
}

#searchpage-loading {
  display: none;
  text-align: center;
}

ul#searchpage-list {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: $spacing-base;

  li.search-result {
    margin: 0;
    width: 100%;
    display: block;

    a.search-result-link {
      display: block;
      width: 100%;
      padding: $spacing-base #{$spacing-base * 2};
      background-color: $color-secondary;
      border-radius: $border-radius;
      box-shadow: $elevation-1;
      outline-offset: 0;

      &:focus,
      &:hover {
        background-color: $color-secondary-hover;
        transform: scale(1.01);
        box-shadow: $elevation-2;

        .search-result-title {
          transition: color $animation-duration ease;
          color: $color-link-hover;
        }
        .search-result-excerpt {
          transition: color $animation-duration ease;
          color: $color-text;
        }
        .search-result-url {
          transition: color $animation-duration ease;
          color: $color-text-caption;
        }
      }

      &:active {
        transform: scale(1.02);
        background-color: $color-secondary-pressed;
        box-shadow: $elevation-3;

        .search-result-title {
          transition: color $animation-duration ease;
          color: $color-link-hover;
        }
        .search-result-excerpt {
          transition: color $animation-duration ease;
          color: $color-text;
        }
        .search-result-url {
          transition: color $animation-duration ease;
          color: $color-text-caption;
        }
      }

      .search-result-title {
        color: $color-text;
        font-size: $font-size-title-small;
        font-weight: $font-weight-bold;
        margin-bottom: $spacing-base / 3;
      }

      .search-result-excerpt {
        font-weight: normal;
        color: $color-text-caption;
        margin-bottom: $spacing-base / 4;
      }

      .search-result-url {
        font-weight: normal;
        color: $color-text-caption-darker;
        font-size: $font-size-caption;
      }
    }
  }
}
