.spinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  div {
    display: inline-block;
    position: absolute;
    left: 4px;
    width: 8px;
    background: $color-primary;
    animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    border-radius: 2px;
  }
  div:nth-child(1) {
    left: 2px;
    animation-delay: -0.24s;
  }
  div:nth-child(2) {
    left: 16px;
    animation-delay: -0.12s;
  }
  div:nth-child(3) {
    left: 30px;
    animation-delay: 0;
  }
}

@keyframes spinner {
  0% {
    top: 4px;
    height: 32px;
  }
  50%, 100% {
    top: 12px;
    height: 32px;
  }
}
