/* Colors */
$color-background-page: #19103b;
$color-background-home: #150c30;
$color-background-home-section: #1d1242;
$color-background-navbar: rgba(48, 28, 99, 0.9);
$color-background-footer: #100925;
$color-background-content: #1f1345;
$color-background-overlay: rgba(7, 0, 28, 0.85);
$color-background-breadcrumb: #160c33;
$color-background-git: $color-background-breadcrumb;
$color-background-popup: transparentize($color-background-content, 0.075);

$color-secondary: #2e1b66;
$color-secondary-hover: #382474;
$color-secondary-pressed: #44307f;
$color-secondary-light: #4a2c94;
$color-secondary-lighter: #593bb0;
$color-secondary-lightest: #6d50c6;
$color-secondary-disabled: #291a58;
$color-secondary-foreground: #ffffff;
$color-secondary-disabled-foreground: #4f3991;
$color-secondary-transparent: transparentize($color-secondary, 1);

$color-primary: #ff7b00;
$color-primary-hover: #ff9600;
$color-primary-pressed: #ffa200;
$color-primary-lighter: #ffab00;
$color-primary-lightest: #ffba00;
$color-primary-foreground: $color-secondary-foreground;
$color-primary-disabled: $color-secondary-disabled;
$color-primary-disabled-foreground: $color-secondary-disabled-foreground;
$color-primary-transparent: transparentize($color-primary, 1);

$color-link: $color-primary;
$color-link-hover: $color-primary-hover;
$color-link-active: $color-primary-pressed;

$color-text: #c9beec;
$color-text-emphase: #ffffff;
$color-text-title: $color-primary-lighter;
$color-text-caption-lighter: #b29fe7;
$color-text-caption: #8a73cc;
$color-text-caption-darker: #584394;

/* Text */
$font-size: 15px;
$font-size-code: 15px;
$font-family: 'Inter', sans-serif;
$font-family-code: 'Fira Code', 'Consolas', monospace;
$font-weight: normal;
$font-weight-highlight: normal;
$font-weight-bold: 700;
$line-height: 1.4rem;
$font-size-caption: 13px;
$font-size-caption-smaller: 11px;
$font-size-footer: 14px;

$font-size-title-small: 17px;
$font-size-title-medium: 19px;
$font-size-title-big: 24px;

$font-family-title: 'Ubuntu Titling', 'Inter', sans-serif;
$font-weight-title: bold;
$font-size-title: 2.5 * $font-size;
$line-height-title: 3rem;
$letter-spacing-title: unset;

$font-family-button: 'Ubuntu Titling', 'Inter', sans-serif;
$font-weight-button: bold;
$font-size-button: 18px;
$letter-spacing-button: unset;

/* Icons */
$icon-height: 16px;
$icon-spacing: 4px;

/* Animations */
$animation-duration: 0.2s;
$animation-duration-short: 0.1s;

/* Shadows */
$elevation-tag: 0px 1px 0px 0px rgba(0, 0, 0, 0.5); /* Thin line */
$elevation-0: 0 0 0 0 rgba(0, 0, 0, 0); /* No shadow */
$elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); /* Thin shadow */
$elevation-2: 0px 4px 16px 0px rgba(0, 0, 0, 0.25); /* Buttons, cards, articles */
$elevation-3: 0px 4px 16px 0px rgba(0, 0, 0, 0.5); /* Same when hover */
$elevation-4: 0px 4px 16px 0px rgba(0, 0, 0, 0.75); /* Same when active */
$elevation-5: 0px 8px 32px 0px rgba(5, 0, 14, 0.85); /* Same when active */

/* Blurs */
$blur-0: none;
$blur-1: blur(4px);
$blur-2: blur(8px);
$blur-3: blur(16px);

/* Tables */
$table-header: #ff0000;
$table-alternate-row: #ff00ae;

/* Border radiuses */
$border-radius: 8px;
$border-radius-buttons: 9999px;

/* Sizes */
$outline-width: 4px;
$outline-offset-start: 16px;
$spacing-base: 16px;
$page-max-width: 1170px;
$content-padding: 80px;
$content-padding-narrow: 200px;
$table-of-contents-width: 12em;
$outline-width: 3px;
$outline-offset: 4px;
$outline-radius: 2px;
$navbar-height: 56px;
$game-thumbnail-width: 300px;
$game-thumbnail-height: #{$game-thumbnail-width * (360 / 700)}; // 360px height for 700px width
$quest-default-width: 320px; // For screenshots.
$current-item-edge-width: 4px;
$video-player-width: 640px;
$video-player-height: 360px;
$chapter-aside-max-width: 320px;
$aside-top: 100px;
$margin-between-toc-items: $spacing-base / 2;
$news-thumbnail-width: 880px;
$news-thumbnail-height: 280px;
$textfield-border-width: 1px;
$responsive-image-min-width: 200px;

/* Media query breakpoints */
$breakpoint-desktop-small: 1280px;
$breakpoint-tablet-landscape: 1080px;
$breakpoint-navbar: 1040px;
$breakpoint-tablet-portrait: 920px;
$breakpoint-phone-portrait: 720px;
$breakpoint-phone-portrait-medium: 540px;
$breakpoint-phone-portrait-small: 280px;
