$game-trailer-width: 540px;
$game-trailer-height: #{($video-player-height / $video-player-width) * $game-trailer-width};

.video-player {
  width: $video-player-width;
  height: $video-player-height;
  max-width: 100%;
  border-radius: $border-radius;
  margin: #{$spacing-base * 2} auto;
  display: grid;
  background-color: $color-background-footer;
  box-shadow: $elevation-1;
  overflow: hidden;

  &.game-trailer {
    width: 100%;
    height: auto;
  }

  .video-iframe-placeholder {
    margin: #{$spacing-base * 2} auto;
    width: $video-player-width;
    height: $video-player-height;
    max-width: 100%;
    display: none;
    grid-row: 1;
    grid-column: 1;
    margin: 0;

    &.game-trailer {
      width: 100%;
    }
  }

  .video-thumbnail {
    margin: 0;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
  }

  .video-player-button {
    padding: $spacing-base;
    margin: auto;
    outline-offset: 0;
    display: block;
    grid-row: 1;
    grid-column: 1;
    height: fit-content;
    width: fit-content;
    box-shadow: $elevation-3;

    &:hover {
      transform: scale(1.075);
    }
    &:active {
      transform: scale(1.25);
    }

    .icon {
      margin: auto;
      width: $icon-height * 2;
      height: $icon-height * 2;
      svg {
        width: 100%;
        height: 100%;
      }
      svg,
      svg * {
        fill: $color-primary-foreground;
      }
    }
  }

  @media (max-width: $breakpoint-tablet-landscape) {
    width: unset;
    height: unset;
  }
}
