/* Global imports */
@import 'fonts-redirect';
@import 'variables';

/* Minimal CSS to ensure the page loads as fast as possible while still being pretty. */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body.redirect {
  background-color: $color-background-page;
  color: $color-text;
  font-size: $font-size;
  padding: $spacing-base * 4;
  font-family: $font-family, sans-serif;

  .redirect-box {
    background-color: $color-secondary;
    max-width: 500px;
    padding: $spacing-base * 2;
    border-radius: $border-radius;
    margin: 0 auto;
    box-shadow: $elevation-2;
    text-align: center;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    line-height: 1em;
    margin-bottom: 1rem;
    color: $color-text-title;
    letter-spacing: $letter-spacing-title;
    font-weight: $font-weight-title;
    font-family: $font-family-title;
  }

  a {
    color: $color-link;
    text-decoration: none;
    font-weight: bold;
    transition: $animation-duration ease;
    outline-color: $color-primary-transparent;
    outline-offset: $outline-offset-start;

    &:hover,
    &:focus {
      color: $color-link-hover;
    }
    &:active {
      color: $color-link-active;
    }
  }

  p {
    padding: 0;
    margin: 0;
    margin-bottom: 0.75em;
  }
}
