{{- $redirectUrl := safeHTML page.Params.redirectUrl -}}
{{- $redirectUrl = partial "functions/get-config-param" $redirectUrl -}}
<!doctype html>
<html>
  <head>
    <title>Redirection</title>
    <link rel="canonical" href="{{ $redirectUrl }}" />
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url={{ $redirectUrl }}" />

    {{- $cssResource := resources.Get "css/redirect.scss" -}}
    {{- $cssFile := $cssResource | css.Sass -}}
    {{- if hugo.IsServer -}}
      <link rel="stylesheet" type="text/css" href="{{- $cssFile.RelPermalink -}}" />
    {{- else -}}
      {{- $miniCssFile := $cssFile | resources.Minify -}}
      <link rel="stylesheet" type="text/css" href="{{- $miniCssFile.RelPermalink -}}" crossorigin="anonymous" />
    {{- end -}}
  </head>
  <body class="redirect">
    <div class="redirect-box">
      <h1>Redirection</h1>
      <p>This page has moved. You should now be automatically redirected to the new URL.</p>
      <p>If not, <a href="{{ $redirectUrl }}">click here</a>.</p>
    </div>
  </body>
</html>
