<footer>
  <div class="container">
    <div class="footer-columns">
      <div class="footer-column">
        {{- $aboutPage := .Site.GetPage "/about" -}}
        <div class="footer-column-title">{{- $aboutPage.Title | safeHTML -}}</div>
        {{- $copyrightDict := dict
          "currentYear" (now.Format "2006")
          "author" $.Site.Params.author
          "beginYear" $.Site.Params.copyrightBeginYear
        -}}
        <div class="footer-column-text">{{- (i18n "footerCopyright" $copyrightDict) | safeHTML -}}</div>
        <ul class="footer-column-links">
          {{- with .Site.GetPage "/about/faq" -}}
            <li><a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a></li>
          {{- end -}}
          {{- with .Site.GetPage "/about/legal-terms" -}}
            <li><a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a></li>
          {{- end -}}
          <li>
            <a href="{{ .Site.Params.social.gitlab }}">{{- i18n "footerSourceCode" | safeHTML -}}<span class="external-link-symbol">↗</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-column">
        <div class="footer-column-title">{{- i18n "footerParticipate" | safeHTML -}}</div>
        <div class="footer-column-text">{{- i18n "footerParticipateDesc" | safeHTML -}}</div>
        <ul class="footer-column-links">
          {{- with .Site.GetPage "/about/contribute" -}}
            <li><a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a></li>
          {{- end -}}
          {{- with .Site.GetPage "/about/donate" -}}
            <li><a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a></li>
          {{- end -}}
          <li>
            <a href="{{ .Site.Params.social.shop }}">{{- i18n "footerGoodies" | safeHTML -}}<span class="external-link-symbol">↗</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-column">
        <div class="footer-column-title">{{- i18n "footerLinks" | safeHTML -}}</div>
        <div class="footer-column-text">{{- i18n "footerLinksDesc" | safeHTML -}}</div>
        <ul class="footer-column-links social-networks-icons">
          <li>
            <a href="{{ .Site.Params.social.gitlab }}" class="social-networks-icon" title="GitLab">
              {{- partial "components/icon.html" "gitlab" -}}
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.social.facebook }}" class="social-networks-icon" title="Facebook">
              {{- partial "components/icon.html" "facebook" -}}
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.social.twitter }}" class="social-networks-icon" title="Twitter">
              {{- partial "components/icon.html" "twitter" -}}
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.social.mastodon }}" class="social-networks-icon" title="Mastodon" rel="me">
              {{- partial "components/icon.html" "mastodon" -}}
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.social.reddit }}" class="social-networks-icon" title="Reddit">
              {{- partial "components/icon.html" "reddit" -}}
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.social.youtube }}" class="social-networks-icon" title="YouTube">
              {{- partial "components/icon.html" "youtube" -}}
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.social.discord }}" class="social-networks-icon" title="Discord">
              {{- partial "components/icon.html" "discord" -}}
            </a>
          </li>
          <li>
            {{- $rssURL := print (.Site.GetPage "/").RelPermalink "index.xml" -}}
            <a href="{{ $rssURL }}" class="social-networks-icon" title="RSS">
              {{- partial "components/icon.html" "rss" -}}
            </a>
          </li>
        </ul>
        <ul class="footer-column-links">
          {{- with .Site.GetPage "/about/contact" -}}
            <li><a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a></li>
          {{- end -}}
          {{- with .Site.GetPage "/about/press-kit" -}}
            <li><a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a></li>
          {{- end -}}
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-engine-information">
        <div>{{- (i18n "homeStableVersion" site.Params.downloads.latestStableVersion) | safeHTML -}}</div>
        {{- $latestReleaseDate := partial "functions/get-release-date.html" (dict
          "version"   site.Params.downloads.latestStableVersion
          "projectId" (string site.Params.downloads.engineProjectId)
          )
        -}}
        {{- with $latestReleaseDate }}
          <div class="footer-engine-information-bullet">•</div>
          <div>{{- (i18n "homeUpdatedOnDate" ($latestReleaseDate | time.Format ":date_long")) | safeHTML -}}</div>
        {{- end -}}
      </div>

      {{- $gplURL := .Site.Params.thirdParty.gplURL -}}
      {{- $ccURL := .Site.Params.thirdParty.ccURL -}}
      <div class="footer-bottom-text">{{- i18n "footerSourceCodeLicense" | safeHTML }} <a href="{{ .Site.Params.thirdParty.gplURL }}">GPL v3</a>.</div>
      <div class="footer-bottom-text">{{- i18n "footerResourcesLicense" | safeHTML }} <a href="{{ $ccURL }}">CC-BY-SA 4.0</a>.</div>
      <div class="footer-bottom-logos">
        <a href="{{ $gplURL }}"><img loading="lazy" class="footer-bottom-logo" src="/img/third-party/gpl-v3-logo.svg" /></a>
        <a href="{{ $ccURL }}"><img loading="lazy" class="footer-bottom-logo" src="/img/third-party/cc-logo.svg" /></a>
      </div>
      {{- $buildTimeDict := dict
        "hugoWebsite" "https://gohugo.io/"
        "hugoVersion" $.Site.Hugo.Version
        "buildDateTime" (print (now | time.Format ":date_long" ) ", " (now | time.Format ":time_long"))
      -}}
      <div class="footer-build-time">{{ (i18n "footerBuildTime" $buildTimeDict) | safeHTML }}</div>
      <div class="footer-build-time"><a href="{{ site.Params.repositories.website }}">{{- i18n "footerWebsiteSourceCode" | safeHTML -}}</a></div>
    </div>
  </div>
</footer>
