<a class="developer-item" href="{{ .RelPermalink }}" title="{{- .Title | safeHTML -}}">
  {{- $thumbnailResource := .Page.Resources.GetMatch .Params.Thumbnail -}}
  {{- $hasLogo := true -}}
  {{- if not $thumbnailResource -}}
    {{- $hasLogo = false -}}
    {{- $thumbnailResource = resources.Get "img/default-thumbnails/developer.png" -}}
  {{- end -}}
  {{- $resizedThumbnailResource := $thumbnailResource.Fit "700x360 jpg" -}}
  <img class="developer-item-image" loading="lazy" src="{{ $resizedThumbnailResource.RelPermalink }}" />
  {{- if not $hasLogo -}}
    <div class="developer-item-title">
      {{- .Title | safeHTML -}}
    </div>
  {{- end -}}
</a>
