{{- $unknownValue := i18n "gameUnknownValue" | safeHTML -}}
{{- $notReleased := i18n "gameNotReleased" | safeHTML -}}
<table
  class="game-info-table">
  <tr>
    <td>
      {{- i18n "gameDeveloper" | safeHTML -}}
    </td>
    <td>
      {{- with .Developer -}}
        {{- if (partial "functions/is-array" .) -}}
          {{- $count := len . -}}
          {{- range $index, $element := . -}}
            {{- $developerPage := partial "functions/find-developer" $element -}}
            {{- if $developerPage -}}
              <a
                href="{{ $developerPage.RelPermalink }}"
                >{{- . -}}</a
              >
              {{- if lt $index (sub $count 1) -}}
                {{ ", " }}
              {{- end -}}
            {{- else -}}
              {{- . -}}
            {{- end -}}
          {{- end -}}
          {{/* {{- delimit . ", " -}}
          */}}
        {{- else -}}
          {{- $developerPage := partial "functions/find-developer" . -}}
          {{- if $developerPage -}}
            <a
              href="{{ $developerPage.RelPermalink }}"
              >{{- . -}}</a
            >
          {{- else -}}
            {{- . -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- $unknownValue -}}
      {{- end -}}
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gameInitialReleaseDate" | safeHTML -}}
    </td>
    <td>
      {{- with .InitialReleaseDate -}}
        {{- $initialReleaseDate := . | time.Format ":date_long" -}}
        {{- $initialReleaseDate -}}
      {{- else -}}
        {{- $notReleased -}}
      {{- end -}}
    </td>
  </tr>

  {{- with .LatestUpdateDate -}}
    <tr>
      <td>
        {{- i18n "gameLatestUpdateDate" | safeHTML -}}
      </td>
      <td>
        {{- $latestUpdateDate := . | time.Format ":date_long" -}}
        {{- $latestUpdateDate -}}
      </td>
    </tr>
  {{- end -}}



  <tr>
    <td>
      {{- i18n "gameLicense" | safeHTML -}}
    </td>
    <td>
      {{- with .Licenses -}}
        {{- $processedLicenses := slice -}}
        {{- range $licenseItem := . -}}
          {{- $licenseItem = replace $licenseItem " " "&nbsp;" -}}
          {{- $processedLicenses = $processedLicenses | append $licenseItem -}}
        {{- end -}}
        {{- $licenseStr := delimit $processedLicenses ", " -}}
        {{- $licenseStr = replace $licenseStr "-" "&#8209;" -}}
        {{- $licenseStr | safeHTML -}}
      {{- else -}}
        {{- $unknownValue -}}
      {{- end -}}
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gameAge" | safeHTML -}}
    </td>
    <td>
      <div
        class="game-age">
        {{- with .Age -}}
          {{- if (eq . "all") -}}
            {{- partial "components/rating" "all" -}}
            {{- i18n "gameAgeRatingAll" | safeHTML -}}
          {{- else if (eq . "warning") -}}
            {{- partial "components/rating" "warning" -}}
            {{- i18n "gameAgeRatingWarning" | safeHTML -}}
          {{- else if (eq . "restricted") -}}
            {{- partial "components/rating" "restricted" -}}
            {{- i18n "gameAgeRatingRestricted" | safeHTML -}}
          {{- end -}}
        {{- else -}}
          {{- $unknownValue -}}
        {{- end -}}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gameLanguages" | safeHTML -}}
    </td>
    <td>
      {{- with .Languages -}}
        <ul
          class="language-list">
          {{- range . -}}
            <li
              class="language-list-item"
              title="{{ . }}">
              {{- $flagId := . -}}
              {{- partial "components/flag.html" $flagId -}}
            </li>
          {{- end -}}
        </ul>
      {{- else -}}
        {{- $unknownValue -}}
      {{- end -}}
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gameControls" | safeHTML -}}
    </td>
    <td>
      {{- with .Controls -}}
        <ul
          class="controls-list">
          {{- range . -}}
            <li
              class="controls-list-item"
              title="{{ . }}">
              {{- if (eq . "mouse") -}}
                {{- partial "components/icon.html" "mouse" -}}
              {{- else if (eq . "keyboard") -}}
                {{- partial "components/icon.html" "keyboard" -}}
              {{- else if (or (eq . "joypad") (eq . "gamepad")) -}}
                {{- partial "components/icon.html" "gamepad" -}}
              {{- else if (eq . "touch") -}}
                {{- partial "components/icon.html" "touch" -}}
              {{- end -}}
            </li>
          {{- end -}}
        </ul>
      {{- else -}}
        {{- $unknownValue -}}
      {{- end -}}
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gameGenre" | safeHTML -}}
    </td>
    <td>
      {{- with .Genre -}}
        {{- if (eq (printf "%T" .) "[]string") -}}
          {{- delimit . ", " -}}
        {{- else -}}
          {{- . -}}
        {{- end -}}
      {{- else -}}
        {{- $unknownValue -}}
      {{- end -}}
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gameVersion" | safeHTML -}}
    </td>
    <td>
      {{- with .Version -}}
        <code
          >{{- . | safeHTML -}}</code
        >
      {{- else -}}
        {{- $unknownValue -}}
      {{- end -}}
      <code>
      </code>
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gameSolarusVersion" | safeHTML -}}
    </td>
    <td>
      {{- with .SolarusVersion -}}
        <code
          >{{- . | safeHTML -}}</code
        >
      {{- else -}}
        {{- $unknownValue -}}
      {{- end -}}
      <code>
      </code>
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gamePlayers" | safeHTML -}}
    </td>
    <td>
      {{- $maxPlayers := cond (isset . "MaximumPlayers" ) .MaximumPlayers 1 -}}
      {{- $minPlayers := cond (isset . "MinimumPlayers" ) .MinimumPlayers 1 -}}
      {{- if (eq $maxPlayers $minPlayers) -}}
        <div
          class="players-icons"
          title="{{ $maxPlayers }}">
          {{ range (seq $maxPlayers) }}
            {{- partial "components/icon.html" "player" -}}
          {{ end }}
        </div>
      {{- else -}}
        <div
          class="players-range">
          <div
            class="players-icons"
            title="{{ $minPlayers }}">
            {{ range (seq $minPlayers) }}
              {{- partial "components/icon.html" "player" -}}
            {{ end }}
          </div>
          <div
            class="players-icons-range">
            -
          </div>
          <div
            class="players-icons"
            title="{{ $maxPlayers }}">
            {{ range (seq $maxPlayers) }}
              {{- partial "components/icon.html" "player" -}}
            {{ end }}
          </div>
        </div>
      {{- end -}}
    </td>
  </tr>
  <tr>
    <td>
      {{- i18n "gamePlatforms" | safeHTML -}}
    </td>
    <td>
      {{- with .Platforms -}}
        {{- if (eq (printf "%T" .) "[]string") -}}
          {{- delimit . ", " -}}
        {{- else -}}
          {{- . -}}
        {{- end -}}
      {{- else -}}
        {{- i18n "gameAllPlatforms" | safeHTML -}}
      {{- end -}}
    </td>
  </tr>
  {{- with .SourceCode -}}
    <tr>
      <td>
        {{- i18n "gameSourceCode" | safeHTML -}}
      </td>
      <td>
        <a
          href="{{ . }}"
          >{{ i18n "gameLink" | safeHTML }}<span
            class="external-link-symbol"
            >↗</span
          ></a
        >
      </td>
    </tr>
  {{- end -}}
  {{- with .Website -}}
    <tr>
      <td>
        {{- i18n "gameWebsite" | safeHTML -}}
      </td>
      <td>
        <a
          href="{{ . }}"
          >{{ i18n "gameLink" | safeHTML }}<span
            class="external-link-symbol"
            >↗</span
          ></a
        >
      </td>
    </tr>
  {{- end -}}
</table>
