{{- $params := . -}}
{{- if eq $params.DownloadType "solarus" -}}
  {{- with $params.Download -}}
    {{- $downloadUrl := . -}}
    {{- $isDemo := not $params.InitialReleaseDate -}}
    {{- $buttonText := cond $isDemo (i18n "gameDownloadDemo") (i18n "gameDownload") -}}
    {{- partial "components/button.html" (dict
      "text" ($buttonText | safeHTML)
      "icon" "download"
      "href" .
      "role" "secondary"
      "class" "download-item-button")
    -}}
    <div class="game-download-metadata">
      {{- with $params.Version -}}
        v{{- $params.Version -}}
        <span class="game-download-metadata-bullet">•</span>
      {{- end -}}
      {{- with $params.Platforms -}}
        {{- delimit . ", " -}}
      {{- else -}}
        {{- i18n "gameAllPlatforms" | safeHTML -}}
      {{- end -}}
      <span class="game-download-metadata-bullet">•</span>
      {{- i18n "gameSolarusFile" | safeHTML -}}
      {{- with $params.DownloadSize -}}
        <span class="game-download-metadata-bullet">•</span>
        {{- printf "%.0f" (div $params.DownloadSize 1048576.0) -}}&nbsp;MB
      {{- else -}}
        <span class="game-download-metadata-bullet">•</span>
        ???&nbsp;MB
      {{- end -}}
    </div>
  {{- else -}}
    {{- partial "components/button.html" (dict
      "text" (i18n "gameNotReleased" | safeHTML)
      "icon" "download"
      "href" ""
      "role" "secondary"
      "class" "download-item-button disabled")
    -}}
  {{- end -}}
{{- else -}}
  {{- with $params.Download -}}
    {{- $downloadUrl := . -}}
    {{- partial "components/button.html" (dict
      "text" (i18n "gameExternalDownload" | safeHTML)
      "icon" "arrow-right-simple"
      "href" $downloadUrl
      "role" "secondary"
      "align" "right"
      "class" "download-item-button")
    -}}
    <div class="game-download-metadata">
      v{{ $params.Version }}
      {{- with $params.DownloadType -}}<span class="game-download-metadata-bullet">•</span>{{- end -}}{{- $params.DownloadType -}}
      {{- with $params.Platforms -}}
        <span class="game-download-metadata-bullet">•</span>
        {{- delimit . ", " -}}
      {{- else -}}
        <span class="game-download-metadata-bullet">•</span>
        {{- i18n "gameAllPlatforms" | safeHTML -}}
      {{- end -}}
    </div>
  {{- else -}}
    {{- partial "components/button.html" (dict
      "text" (i18n "gameNotReleased" | safeHTML)
      "icon" "download"
      "href" ""
      "role" "secondary"
      "class" "download-item-button disabled")
    -}}
  {{- end -}}
{{- end -}}
