<ul class="game-list">
  {{- $gameCount := .Site.Params.Home.maxGameListElementCount -}}
  {{- $featuredGameIDs := .Site.Params.Home.featuredGames -}}
  {{- $allGames := where .Site.RegularPages "Section" "games" -}}
  {{- $featuredGames := slice -}}
  {{- range $allGames -}}
    {{- $defaultPage := partial "functions/get-default-lang-page" . -}}
    {{- $gameId := $defaultPage.Params.Id -}}
    {{- if in $featuredGameIDs $gameId -}}
      {{- $featuredGames = $featuredGames | append . -}}
    {{- end -}}
  {{- end -}}

  {{- range first $gameCount $featuredGames -}}
    {{- $gamePage := partial "functions/get-game-data.html" . -}}
    <li class="game-list-item" title="{{- $gamePage.Title | safeHTML -}}">
      {{- partial "components/game-item.html" $gamePage -}}
    </li>
  {{- end -}}
</ul>
