<aside class="table-of-contents-aside" id="table-of-contents-aside">
  <div class="table-of-contents-title">{{- i18n "tableOfContents" | safeHTML -}}</div>
  <nav class="table-of-contents-nav">
    {{ .TableOfContents }}
  </nav>
</aside>
