{{- $videoUrl := .url -}}
{{- $thumbnail := default "" .thumbnail -}}
{{- $class := default "" .class -}}
{{- $dataSetYouTubeThumbnail := "" -}}

{{- if not $thumbnail -}}
  {{- if strings.Contains $videoUrl "youtube" -}}
    {{- $dataSetYouTubeThumbnail = partial "functions/get-youtube-thumbnail-url" $videoUrl -}}
  {{- end -}}
{{- end -}}


<div class="video-player {{ $class }}" data-url="{{ $videoUrl }}" data-youtubethumbnail="{{ $dataSetYouTubeThumbnail }}">
  <div class="video-iframe-placeholder {{ $class }}"></div>
  <img loading="lazy" class="video-thumbnail " src="{{ $thumbnail }}" />
  <button class="video-player-button">
    {{- partial "components/icon.html" "play" -}}
  </button>
</div>
