{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}
    <ul class="developer-list" id="developer-list">
      {{- $defaultPage := partial "functions/get-default-lang-page" . -}}
      {{- range $defaultPage.Pages.ByTitle -}}
        <li class="developer-list-item" title="{{- .Title | safeHTML -}}">
          {{- partial "components/developer-item.html" . -}}
        </li>
      {{- end -}}
    </ul>
  </div>
{{- end -}}
