{{- define "main" -}}
  {{- $params := partial "functions/get-developer-data.html" . -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <div class="developer-header">
          {{ $thumbnailResource := page.Resources.GetMatch $params.Thumbnail }}
          {{- if not $thumbnailResource -}}
            {{- $thumbnailResource = resources.Get "img/default-thumbnails/developer.png" -}}
          {{- end -}}
          <img loading="lazy" src="{{- $thumbnailResource.RelPermalink -}}" />
          <div>
            <h1>{{- $params.Title | safeHTML -}}</h1>
            <div class="developer-description">{{- $params.excerpt -}}</div>
            <a href="{{ $params.Website }}">
              {{- i18n "developerWebsite" | safeHTML -}}
              <span class="external-link-symbol">↗</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}
    <h2>{{- i18n "Games" | safeHTML -}}</h2>
    {{- with $params.Games -}}
      <ul class="game-list">
        {{- range . -}}
          <li class="game-list-item" title="{{- .Title | safeHTML -}}">
            {{- partial "components/game-item.html" . -}}
          </li>
        {{- end -}}
      </ul>
    {{- else -}}
      {{- i18n "developerNoGames" | safeHTML -}}
    {{- end -}}
  </div>
{{- end -}}
