{{- define "main" -}}
  <div class="container single-header-container">
    <div class="article-header">
      <div class="container">
        <h1>{{- .Title | safeHTML -}}</h1>
      </div>
    </div>
  </div>
  <div class="container content content-container" role="main">
    {{- with .Content -}}
      <article role="main">
        {{- .Content -}}
      </article>
    {{- end -}}
    <div class="game-list-toolbar list-toolbar">
      {{- partial "components/searchbox.html" (dict "id" "game-searchbox") -}}
    </div>
    <ul class="game-list" id="game-list">
      <!-- Get all game pages -->
      {{- $gamePages := slice -}}
      {{- range .Pages -}}
        {{- $gamePage := partial "functions/get-game-data.html" . -}}
        {{- $gamePages = $gamePages | append $gamePage -}}
      {{- end -}}
      <!-- Display the sorted list -->
      {{- range sort $gamePages "Title" -}}
        <li class="game-list-item" title="{{- .Title | safeHTML -}}" data-searchid="{{- .Id -}}">
          {{- partial "components/game-item.html" . -}}
        </li>
      {{- end -}}
    </ul>
  </div>
{{- end -}}
